svg {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg g {
  fill: #A1662F;
  fill-opacity: 1;
}
svg g:hover {
  fill: #A1662F;
  fill-opacity: 1.2;
}
svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #000;
  stroke-width: 0.5;
  transition: fill-opacity .5s;
}
svg g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
/* svg path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
} */

.white-bead {
  fill: #fff;
  stroke: #000;
  stroke-width:  0.1;
}